body {
    font-family: "Lato", sans-serif;
    background-color: rgb(163, 247, 125);
  }
  
  .sidenav {
    height: 100%;
    width: 250px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 5;
    background-color:rgb(206, 250, 186);
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav h2, h3, h6, dt, li, p {
    margin-left: 10px;
  }

  .sidenav a {
    font-size: 14px;
  }

  .main { 
    margin-left: 300px; /* Same as the width of the sidenav */
    color: rgb(19, 18, 18);
  }
  
  .main p, h3 {
    text-decoration-color: rgb(255, 238, 238);
  }
  .main dl {
    font-size: 13px;
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  li {
    text-align: left;
  }
.form-control-w3l textarea {
  height: 7.5em;
  margin: 10px;
  width: 50%;
  overflow: hidden;
  resize: none;
  color: rgb(0, 0, 0);
  background-color: rgb(174, 239, 248);
  line-height: 0.7;
  }
  .form-control-w3l {
    margin-top: 1px;
    line-height: 0;
    text-shadow: 2px 2px rgb(118, 187, 91);
    }
    button[type=submit] {
      width: 80px;
      background: #fad85f;
      outline: none;
      color: #000;
      margin: 0px 0px 0px;
      font-size: 13px;
      font-weight: 400;
      border: none;
      padding: 10px 10px;
      letter-spacing: 1px;
      text-transform: uppercase;
      
    }
    button[type=submit]:hover{
      background:#000;
      color:#fff;
      font-size: 12px;
      }
      .copy p a:hover {	
        color: #000;
      }